fastapi>=0.104.0
uvicorn>=0.24.0
mlflow>=3.3.2
databricks-ai-bridge>=0.12.0
databricks-langchain[memory]>=0.13.0
databricks-mcp
databricks-vectorsearch
databricks-sdk
langchain-mcp-adapters==0.1.14 
# if anthropic models
# https://github.com/langchain-ai/langchain-mcp-adapters/issues/397
langchain-core>=1.2.7
langgraph>=1.1.0
langgraph-prebuilt>=1.0.8
langgraph-checkpoint>=4.0.1
langgraph-supervisor>=0.0.31
mcp>=1.22.0
openai==2.14.0
pydantic>=2.0.0
PyYAML>=6.0
psycopg[binary]>=3.1.0
